
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

/* Colors */
:root {
  --color-default: #364d59;
  --color-primary: #ffffff;
  --color-secondary: #52565e;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
#mainBody {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-y: hidden;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ffc732;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f6f7;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 32px;
  /*font-weight: 700;*/
  position: relative;
  color: #2e3135;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 140px 0 60px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.breadcrumbs ol a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-secondary);
  line-height: 0;
}

.scroll-top:hover {
  background: #7F6455;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 997;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 24px;
  /*font-weight: 700; */
  color: #fff;
  margin-bottom: 0;
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    /*font-family: var(--font-primary);*/

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    /*color: rgba(255, 255, 255, 0.6);*/
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #7F6455;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #222428;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    position: relative;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    padding-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9996;
  }
}

/*--------------------------------------------------------------
# Get Started Section
--------------------------------------------------------------*/
.get-started .content {
  padding: 30px 0;
}

.get-started .content h3 {
  font-size: 36px;
  color: var(--color-secondary);
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}

.get-started .content h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.get-started .content p {
  font-size: 14px;
}

.get-started .php-email-form {
  background: #fff;
  padding: 30px;
  height: 100%;
}

@media (max-width: 575px) {
  .get-started .php-email-form {
    padding: 10px;
  }
}

.get-started .php-email-form h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.get-started .php-email-form p {
  font-size: 14px;
  margin-bottom: 20px;
}

.get-started .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #900C3F;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #097969;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.get-started .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.get-started .php-email-form input,
.get-started .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.get-started .php-email-form input:focus,
.get-started .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.get-started .php-email-form input {
  padding: 12px 15px;
}

.get-started .php-email-form textarea {
  padding: 12px 15px;
}

.get-started .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.get-started .php-email-form button[type=submit]:hover {
  background: #888;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Constructions Section
--------------------------------------------------------------*/
.constructions .card-item {
  border: 1px solid rgba(82, 86, 94, 0.2);
  background: #fff;
  position: relative;
  border-radius: 0;
}

.constructions .card-item .card-bg {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.constructions .card-item .card-body {
  padding: 30px;
}

.constructions .card-item h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--color-secondary);
}

.constructions .card-item p {
  color: var(--color-secondary);
  margin: 0;
}

/*--------------------------------------------------------------
# Alt Services Section
--------------------------------------------------------------*/
.alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

/*
@media (min-width: 768px) {
 
  .img-bg {
      background-image: url('assets/img/Web.png');
     
  }
} */


.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.alt-services .icon-box {
  margin-top: 50px;
}

.alt-services .icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-right: 25px;
  font-size: 28px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  background-image: url('Web.png');
  transition: 0.3s;
}

.alt-services .icon-box:hover i {
  background-color: var(--color-primary);
  color: #fff;
}

.alt-services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.alt-services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}

.alt-services .icon-box h4 a:hover {
  color: var(--color-primary);
}

.alt-services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Potvrda Section
--------------------------------------------------------------*/
.potvrda .info-item {
  
  /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);*/
  padding: 20px 0 30px 0;
}

.potvrda .row{
  margin-top: 0.1rem;
}

.potvrda .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted #ffd565;
}

.potvrda .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 10px 0;
}

.potvrda .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.potvrda .php-email-form2 {
  width: 100%;
  background: #fff;
  /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);*/
  padding: 30px;

}

.potvrda .php-email-form2 .form-group {
  margin-bottom: 1px;
}

.potvrda .php-email-form2 .error-message {
  display: none;
  color: #fff;
  background: #900C3F;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.potvrda .php-email-form2 .error-message br+br {
  margin-top: 25px;
}

.potvrda .php-email-form2 .sent-message {
  display: none;
  color: #fff;
  background: #097969;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.potvrda .php-email-form2 .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.potvrda .php-email-form2 .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.potvrda .php-email-form2 input,
.potvrda .php-email-form2 textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.potvrda .php-email-form2 input:focus,
.potvrda .php-email-form2 textarea:focus {
  border-color: var(--color-primary);
}

.potvrda .php-email-form2 input {
  height: 44px;
}

.potvrda .php-email-form2 textarea {
  padding: 10px 12px;
}

.potvrda .php-email-form2 button[type=submit] {
  background: #7F6455;
  border: 0.1rem #000;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 0rem;
}

.potvrda .php-email-form2 button[type=submit]:hover {
  background: #888;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#nameField1.form-group{
  margin-top: 5px;
}

#nameField2.form-group{
  margin-top: 5px;
}
#nameField3.form-group{
  /*margin-top: 5px;*/
}




















/*--------------------------------------------------------------
# Login Section
--------------------------------------------------------------*/
.login .info-item {
  
  /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);*/
  padding: 20px 0 30px 0;
}

.login .row{
  
}

.login .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted #ffd565;
}

.login .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 10px 0;
}

.login .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.login .php-email-form2 {
  width: 100%;
  background: #fff;
  /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);*/
  padding: 80px;
  border-radius: 19px;
}

.login .php-email-form2 .form-group {
  margin-bottom: 1px;
}

.login .php-email-form2 .error-message {
  display: none;
  color: #fff;
  background: #900C3F;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.login .php-email-form2 .error-message br+br {
  margin-top: 25px;
}

.login .php-email-form2 .sent-message {
  display: none;
  color: #fff;
  background: #097969;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.login .php-email-form2 .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.login .php-email-form2 .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.login .php-email-form2 input,
.login .php-email-form2 textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.login .php-email-form2 input:focus,
.login .php-email-form2 textarea:focus {
  border-color: var(--color-primary);
}

.login .php-email-form2 input {
  height: 44px;
}

.login .php-email-form2 textarea {
  padding: 10px 12px;
}

.login .php-email-form2 button[type=submit] {
  background: #7F6455;
  border: 0.1rem #000;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 0rem;
}

.login .php-email-form2 button[type=submit]:hover {
  background: #888;
}









/*--------------------------------------------------------------
# Lokacija Section
--------------------------------------------------------------*/
.lokacija .info-item {
  /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.08); */
  border: 1px solid #ced4da;
  padding: 20px 0 30px 0;
}

.lokacija .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted #ffd565;
}

.lokacija .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 10px 0;
}

.lokacija .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.lokacija .php-email-form2 {
  width: 100%;
  background: #fff;
  /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);*/
  padding: 30px;

}

.lokacija .php-email-form2 .form-group {
  padding-bottom: 20px;
}

.lokacija .php-email-form2 .error-message {
  display: none;
  color: #fff;
  background: #900C3F;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.lokacija .php-email-form2 .error-message br+br {
  margin-top: 25px;
}

.lokacija .php-email-form2 .sent-message {
  display: none;
  color: #fff;
  background: #097969;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.lokacija .php-email-form2 .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.lokacija .php-email-form2 .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.lokacija .php-email-form2 input,
.lokacija .php-email-form2 textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.lokacija .php-email-form2 input:focus,
.lokacija .php-email-form2 textarea:focus {
  border-color: var(--color-primary);
}

.lokacija .php-email-form2 input {
  height: 44px;
}

.lokacija .php-email-form2 textarea {
  padding: 10px 12px;
}

.lokacija .php-email-form2 button[type=submit] {
  background: #7F6455;
  border: 0.1rem #000;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 0rem;
}

.lokacija .php-email-form2 button[type=submit]:hover {
  background: #888;
}






/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0;
}

.hero .carousel {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: contain;
  
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}

.hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  inset: 0;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero .info {
    padding: 0 50px;
  }
}

.hero .info h2 {
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  /* font-weight: 700; */
  position: relative;
}

.hero .info h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  /*background: var(--color-primary);*/
  background: #7F6455;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
  }

}

@media (min-width: 768px) {
  .img-bg {
    background-image: url('Web.png');
    height: 400px;
}
}

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.hero .info .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 0px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  border: 2px solid var(--color-primary);
}

.hero .info .btn-get-started:hover {
  background: #888;
}

.hero .carousel-control-prev {
  justify-content: start;
}

@media (min-width: 640px) {
  .hero .carousel-control-prev {
    padding-left: 15px;
  }
}

.hero .carousel-control-next {
  justify-content: end;
}

@media (min-width: 640px) {
  .hero .carousel-control-next {
    padding-right: 15px;
  }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 26px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  z-index: 3;
  transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


.footer {
  color: #fff;
  font-size: 14px;
  padding: 120px 0 90px 0;
  position: relative;
  background-image: url(foto-vjencani4.png);
  background-size: cover; /* Dodajte ovu liniju */
  background-repeat: no-repeat; /* Dodajte ovu liniju ako želite spriječiti ponavljanje slike */
  background-position: center; /* Dodajte ovu liniju ako želite postaviti sredinu slike kao pozadinu */

}



.footer:before {
  content: "";
  /*background: rgba(0, 0, 0, 0.8);*/
  position: absolute;
  inset: 0;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
  color: var(--color-primary);
}

.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: #fff;
}

.footer .footer-content .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-content .social-links a:hover {
  background: var(--color-primary);
  text-decoration: none;
}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul li {
  padding: 8px 0;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-content .footer-links ul a:hover {
  color: #fff;
}


.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: #fff;
}

.footer .footer-legal .credits a {
  color: var(--color-primary);
}








.wrap {
  width: 100px;

  position: relative;
  width: 100%;
  display: flex;
  /*border-radius: 0rem;*/
  overflow: hidden;
  padding: 0.1rem;
  background-color: #fff;

  
  border-radius: 0px;
  transition: 0.5s;
  /*margin: 5px;*/

  color: #464646;
  border: 1px solid #ced4da;
}

.wrap2 {
  width: 100px;

  position: relative;
  width: 100%;
  display: flex;
  /*border-radius: 0rem;*/
  overflow: hidden;
  padding: 0.1rem;
  background-color: #fff;

  
  border-radius: 0px;
  transition: 0.5s;
 /* margin: 5px;*/
  color: #464646;
  border: 1px solid #ced4da;
}


input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  /* position: relative; */
  width: 50%;
  font-size: 1rem;
  padding: 0.3rem 0;
  text-align: center;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 2;
  /*border-radius: 0rem;*/
}

input[type="radio"]:checked + label {
  color: #ffffff;
  background: #7F6455;
  z-index: 1;
}












.pomodoro {
  position: absolute;
  
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;  
  padding-top: 15px;
  padding-bottom: 25px;  
}

.flip-clock-wrapper{
  max-width: 460px;
  margin: 3em auto 2em;
  display: flex;
  justify-content: center;
}

.counter{
  display: flex;
  justify-content: center;
}
.clock{
  margin-top: 30px;
}

#btns{
  display: flex;
  justify-content: center;
}
#stop {
  margin-left: 10px;
  margin-right: 10px;
}

#sessInc, #sessDec, #breakInc, #breakDec {  
  font-weight: bold;
}
#stats {
  background-color: #333333;
  width: 220px;
  height: 70px;  
  border-radius: 10px;
  color: #CCCCCC;
  font-size: 45px;
  text-align: center;
}
#statRow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}







.custom-table {
  border-collapse: collapse;
  width: 100%;
  height: 100%; 
  table-layout: fixed; 
}

.custom-table, .custom-table th, .custom-table td {
  border: none;
}

.custom-table th, .custom-table td {
  padding: 20px;
  text-align: left;
}

.custom-table .icon-column {
  width: 20px;
}

.custom-table .text-column {
  width: 110px;
}









.checkbox-wrapper-39 {
  display: flex;
  align-items: center; /* Postavljanje vertikalnog centriranja sadržaja */
}


.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 label {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
 transform: rotate(45deg);
 width: 14px;
 margin-left: 12px;
 border-color: #7F6455;
 border-top-color: transparent;
 border-left-color: transparent;
 border-radius: 0;
}
.checkbox-wrapper-39 .checkbox-text {
  font-size: 16px; /* Prilagodba veličine teksta po potrebi */
}

.checkbox-wrapper-39 .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid #7F6455;
  border-radius: 6px;
  transition: all 0.375s;
}






.checkbox-wrapper-37 input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper-37 .terms-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

.checkbox-wrapper-37 .terms-label .label-text {
  margin-left: 10px;
}

.checkbox-wrapper-37 .checkbox-svg {
  width: 25px;
  height: 25px;
  border: 2px solid #7F6455;
}

.checkbox-wrapper-37 .checkbox-box {
  fill: #fff;
  stroke: #7F6455;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.6s ease-in;
  
}

.checkbox-wrapper-37 .checkbox-tick {
  stroke: #7F6455;
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  transition: stroke-dashoffset 0.6s ease-in;
  border: 2px solid #7F6455;
}

.checkbox-wrapper-37 input[type="checkbox"]:checked + .terms-label .checkbox-box,
.checkbox-wrapper-37 input[type="checkbox"]:checked + .terms-label .checkbox-tick {
  stroke-dashoffset: 0;
  border: 2px solid #7F6455;
}




.checkbox-wrapper-40 {
  --borderColor: #7F6455;
  --borderWidth: .125em;
}

.checkbox-wrapper-40 label {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.checkbox-wrapper-40 input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  background: #fff;
  font-size: 1.8em;
  border-radius: 0.125em;
  display: inline-block;
  border: var(--borderWidth) solid var(--borderColor);
  width: 1em;
  height: 1em;
  position: relative;
}
.checkbox-wrapper-40 input[type=checkbox]:before,
.checkbox-wrapper-40 input[type=checkbox]:after {
  content: "";
  position: absolute;
  background: var(--borderColor);
  width: calc(var(--borderWidth) * 3);
  height: var(--borderWidth);
  top: 50%;
  left: 10%;
  transform-origin: left center;
}
.checkbox-wrapper-40 input[type=checkbox]:before {
  transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(0);
  transition: transform 200ms ease-in 200ms;
}
.checkbox-wrapper-40 input[type=checkbox]:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
  transform-origin: left center;
  transition: transform 200ms ease-in;
}
.checkbox-wrapper-40 input[type=checkbox]:checked:before {
  transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(1);
  transition: transform 200ms ease-in;
}
.checkbox-wrapper-40 input[type=checkbox]:checked:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
  transition: transform 200ms ease-out 200ms;
}

.container2 {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  background: rgba(53, 44, 44, 0.80);
  margin: 0 auto;
  align-items:center;
  justify-content:center;
  padding: 30px;
}

.countdown ul {
  display: flex;
  margin:0 auto;
  justify-content: center;
  }
.countdown {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.countdown ul li {
  /* Stilovi koji se primjenjuju samo na ul li elemente unutar .countdown */
  list-style-type: none;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  text-align: center;
  leading-trim: both;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
}

.countdown li span {
  /* Dodatni stilovi za span elemente unutar ul li */
  display: block;
  font-size: 6rem;
  color: #FFF;
  leading-trim: both;
  font-family: Italiana;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.countdown li.separator {
  /* Dodatni stilovi za separator elemente unutar ul li */
  margin: 0 15px;
  font-size: 6rem;
  line-height: 1;
  color: #FFF;
  leading-trim: both;
  font-family: Italiana;
  font-size: 100px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}



@media (max-width: 767px) {


.countdown ul {
    display: flex;
    justify-content: space-around; /* Centriranje elemenata unutar ul liste */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.countdown ul li {
    flex: 1; /* Omogućava da se svi elementi ravnomjerno rasporede unutar flex kontejnera */
    text-align: center; /* Centriranje teksta unutar svakog elementa */
}

.countdown li.separator {
    font-size: 3rem; /* Prilagodba veličine fonta za manje uređaje */
}

.countdown li span {
    font-size: 3rem; /* Prilagodba veličine fonta za manje uređaje */
}

}


#testDiv {
  opacity: 0;
  pointer-events: none; /* Dodajemo ovo kako bi se onemogućila interakcija s elementom */
  transition: opacity 1s ease-in-out;
}

#loginPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
 /* background-color: rgba(255, 255, 255, 0.9); */
 background-color: #dfd4c8;
 background-image: url('pozadina3.png');
 background-size: cover; /* Promijenjeno u 'cover' */
 background-position: center; /* Dodano */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
 
}

#loginPage.hidden {
  display: none;
}

.login-container {
  pointer-events: auto; /* Dodajemo ovo kako bi se omogućila interakcija s login formom */
  /*background-color: #059652; */
 /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  */

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: green;


/*
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
*/
}

